/* FONTS */

// fonts import
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

// font families
$title-font: "Poppins", sans-serif;
$body-font: "DM Sans", sans-serif;

// font sizes
$h1: rem(48);
$h2: rem(40);
$h3: rem(32);
$h4: rem(24);
$h5: rem(20);
$h6: rem(16);
$body: rem(16);

// font weights
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

/* COLORS */
$primary-120: #05614a;
$primary-100: #007f5f;
$primary-80: #00ae82;
$primary-80-50: rgba($primary-80, 0.5);
$primary-80-25: rgba($primary-80, 0.2);
$alert-100: #ff7324;
$accent-100: #fbb02d;
$accent-80: #ffda9a;
$light-140: #cecece;
$light-120: #e1e1e1;
$light-100: #fcfcfc;
$dark-100: #081c15;
