<div class="container">
    <div class="row">
        <div class="col-lg-3 d-flex justify-content-start align-items-center">
            <a href="#" class="header-logo">TwoRoots</a>
        </div><!-- col -->

        <div class="col-lg-9">
            <nav class="nav">
                <ul>
                    <li class="menu-item">
                        <a href="#">Link</a>
                    </li>
                    <li class="menu-item menu-item-has-children">
                        <a href="#">Link (with children)</a>
                        <ul>
                            <li class="menu-item">
                                <a href="#">Link one</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">Link two</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">Link three</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">Link four</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item __cta">
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div><!-- row -->
</div><!-- container -->